.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @apply bg-white;

    @apply py-4;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__logo {
    }
    &__list {
        display: flex;
    }
    &__item {
    }
    &__link {
        padding: 0 1rem;
        text-decoration: none;
        @apply font-semibold;
        @apply text-xl;
        text-transform: capitalize;
    }
    &__buttons {
    }
    &__slider {
        @apply bg-black;
        display: none;
        @screen lg {
            height: 4px;
            position: absolute;
            bottom: 0;
            z-index: -1;
            transition: all ease-in-out 150ms;
            display: block;
            border-radius: 200rem;
        }
    }
}
.m-nav {
    transform: translateX(100%);
    transition: transform ease-in-out 150ms;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @apply bg-white;
    &__list {
        padding-top: 90px;
    }
    &__item {
        display: flex;
    }
    &__link {
        padding: 1rem 0;
        text-decoration: none;
        @apply font-semibold;
        @apply text-xl;
        text-transform: capitalize;
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__buttons {
        display: flex;
        justify-content: center;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @apply py-4;
    }
    &.active {
        transform: translateX(0);
        transition: transform ease-in-out 150ms;
    }
}
